/bin/
.gradle/
.idea/
/build/
/.settings/
/generated/
/run/
gradle*

# Class files
**/*.class
!libs-jmm/**/*.class

# Test folders
test/pt/up/fe/comp/cp2/fixtures/public/
test/pt/up/fe/comp/cp2/Backend2Test.java
test/pt/up/fe/comp/cp2/BackendCallTest.java
test/pt/up/fe/comp/cp2/BackendBasicTest.java
test/pt/up/fe/comp/cp2/BackendArithmeticTest.java
test/pt/up/fe/comp/cp2/BackendArraysTest.java